.inputForm{
    margin: auto;
    background-color: lightgrey;
    padding: 10px;
    border: 10px solid grey;
    border-radius: 5px;
    margin-left: 100;
    margin-right: 100;
}
.inputForm form{
    margin-left: 20;
    margin-right: 20;
    text-align: center;
}
.inputForm p{
    color: red;
    font-size: small;
}
h1{
    text-align: center;
}