.document{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
#house1{
    width: 100%;
    height: auto;
    max-height: 680px;
    flex: 30%;
    margin-top: 0;
}
#house2{
    width: 100%;
    height: auto;
    max-height: 680px;
    flex:30%;
}
img{
    width: 100%;
    margin-top: 0;
}
#UI{
    width: 400px;
    flex: 40%;
    background-color: lightgrey;
    padding: 10px;
    border: 10px solid grey;
    border-radius: 5px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 52px;
}

#UI form{
    width:300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
#UI p{
    color: red;
    font-size: small;
}
h1{
    background-color: lightgrey;
    border: solid 10px grey;
    border-radius: 5px;
    text-align: center;
}
@media (max-width: 1100px) {
    #house1{
        display: none;
    }
    #house2{
        display: none;
    }
    .document{
        display: block;
    }
    #UI{
        width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}
@media (max-width: 700px) {
    #UI{
        width: 300px;
        margin-right: auto;
        margin-left: auto;
    }
    #UI form{
        width:200px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}