body{
    background-color: black;
}
#banner img{
    width: 100%;
}
#page{
    background-color: white;
    border: 10px solid #a21c22;
    margin: 20px;
    padding: 20px;
}
.item{
    width: 300px;
    height:300px;
    background-color: white;
    border: 10px solid #5179a2;
    border-radius: 10px;;
    margin: auto;
    margin-top: 20px;
    padding:auto;
    padding-bottom: 10px;
}
.item img{
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
    margin-top: 10px;
}
.quantity{
    display: block;
    width: 50px;
    margin: auto;
    margin-top: 10px;
}
.name{
    text-align: center;
    color: black;
    font-size: 20px;
}
.description{
    text-align: center;
    color: black;
    font-size: 16px;
}
#UI{
    width: 300px;
    border: 10px solid #a21c22;
    border-radius: 10px;
    padding: 10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

#UI form{
    width:275px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    
}
#grid{
    display: grid;
    grid-template-columns: auto auto;
}
#grid .float{
    text-align:right;
}
#grid input{
    float: right;
}

#UI p{
    color: red;
    font-size: small;
}
@media (max-width: 700px) {
    .item{
        width: 200px;
        height:200px;
    }
    .item img{
        display: block;
        width: 75px;
        height: 75px;
        margin: auto;
        margin-top: 5px;
    }
    .name{
        text-align: center;
        color: black;
        font-size: 15px;
    }
    .description{
        text-align: center;
        color: black;
        font-size: 10px;
    }

    #grid{
        display: grid;
        grid-template-columns: auto;
    }
    #grid .float{
        text-align:center;
    }
    #grid input{
        float: center;
    }
    #UI{
        width: 200px;
        margin-right: auto;
        margin-left: auto;
    }
    #UI form{
        width:175px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}