
    /*Semi-dark themed page by JEFFREY BAHIAN 
    CS213 WEEK03
    I went for a semi-dark background.
    The menubar is in the middle. 
    The Grading part is in the sidebar.
    The */

    /*I set the body with a dark background color, light text color, center alignment, and a monospace font-family*/
    body { font-size:36px; 
        background-color: rgba(1, 18, 24, 0.801);
        color:rgb(243, 237, 214);
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
      }
  
      /* Sets the style of the title in the page
        inherits the center alignment and text color*/
      #title {
        background-color: #045c3a; /*sets the background color of the title into something dark*/
        padding: 20px;
        font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 30px;
      }
  
      /*sets the style for the menubarlist
        i want to keep in the middle, centered*/
      #menuBarList {
        overflow: hidden;
        background-color: #333;
        font-size: 25px;
        font-style: italic;
        font-weight:bold;
      }
      /*Sets how the style changes when you hover the mouse over it.*/
      #menuBarList li:hover {
        background-color: #ddd; /* background color changes into light color*/
        color: black; /*text color changes into black*/
      }
  
      /*Sets the style when you click on the list item*/
      #menuBarList li:active { 
        color: #ddd; /*sets the color of the text into somethine light*/
        background-color: black; /*sets the color of the background into black*/
      }
      
      /*Sets the style of the buttons in the id="text"
        the style of the button doesn't change after it is visited*/
      #text a:link, a:visited {
        background-color:rgb(226, 45, 32) ;
        color: white;
        padding: 14px 25px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
      }
      /*Sets the style when it is clicked
        */
      #text a:hover, a:active {
        background-color: white;
        color: rgb(226, 45, 32) 
      }
      
      /*Sets the div class="document" style beside the sidebar. */
      .document {
        float: right;
        margin: 2%;
        width: 70%; /*gives way for the sidebar, thus its only 70%*/
        border: 3px solid green;
      }
      /*Sets the style for the sidebar. I could have put the menubar here, but chose the grading info instead.  */
    #sidebar {
        height: 100%;
        width: 25%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 16px;
        font-size: 20px;
      }
  
        /*the bottom is the footer of the page. */
    #bottom {
        background-color: #da549d;
        padding: 10px;
        text-align: center;
        font-size: 20px;
      }
      /*Sets the font size for h1 in the id="text"*/
   #text h1 {
        font-size: 46px;
      }
  
      /*Sets the font size for p in the id="text"*/
   #text p {
        font-size: 25px;
      }  
  