/* Sets the style of the title in the page
    inherits the center alignment and text color*/
#title {
    background-color: rgb(53 34 30); 
    color: #a3d3e0;
    top:0;
    padding: 1px;
    font-family:serif;
    font-size: 2vw; /*keeps banner sized to screen*/
    max-width: 100%;
    max-height: 100vh;
    width: auto;
    margin: 0 auto;
}
/*adds a border arround images*/
img.box {
    background-color: rgb(136, 136, 136);    
    position: relative;
    display: block;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 48vw;

}
/*sets new area so banners are unefected*/
.parent {
    display: flex;
    flex-direction: row;
    position: relative;
    height: 100%;
}

/*link*/
.button:link, .button:visited {
    background-color:#a3d3e0 ;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
/*Sets the link when it is clicked*/
.button:hover, .button:active {
    background-color: white;
    color: #a3d3e0;
}
.link:link, .link:visited {
    color: #a3d3e0;
    padding: 1px;
    text-align: center;
    text-decoration: none;
}

.link:hover, .link:active {
    color: #a3d3e0;
}
/*Sets the font size for h1 in the id="text"*/
#text h1 {
    font-size: 46px;
}

/*Sets the font size for p in the id="text"*/
#text p {
    font-size: 1.6vw;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style:normal;
}
#text{
    position: relative;
    padding: 10px;
}
#sidebar { 
    float: left;
    height: 600px;
    padding: 8px;
    margin-top: 20px;
    background-color: rgb(53 34 30);
    font-size: 1.4vw;
    margin-bottom: 20px;
    color: #a3d3e0;
    flex: 25%;
}
@media (max-width: 1000px) {
    .parent{
        flex-wrap: wrap;
    }
    #sidebar{
        height: 100%;
    }
}